@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin absCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

// media query manager

/*
1. phone  600px

2. portrait tablet  600 - 900

3. landscape tablet  900 - 1200

4. desktop  1200 - 1800  

5. big desktop 1800++
*/

// @mixin respond-phone {
//     @media (max-width: 600px) {
//         @content 
//     };  // do not forget this semicolon
// }

/*
argument choice:
phone, tab-port, tab-land, big-desktop
*/

// 1em is 16px here
@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media (max-width: 37.5em) { @content };  // 600px
    }
    @if $breakpoint == tab-port {
        @media (max-width: 56.25em) { @content };  // 900px
    }
    @if $breakpoint == tab-land {
        @media (max-width: 75em) { @content };  // 1200
    }
    @if $breakpoint == big-desktop {
        @media (min-width: 112.5em) { @content };  // 1800
    }
}
